# CSC111 Winter 2021

# Testing and code checking
hypothesis
pytest
python-ta~=1.6.3

# Graphics and data visualization
plotly~=4.14.1
pygame~=2.0.1

# Data scraping
requests~=2.25.1

bs4~=0.0.1
beautifulsoup4~=4.9.3

networkx~=2.5

dash~=1.20.0
